#homeimg {
    width: 100%;
    background-size: cover !important;
    margin: 0px auto;
    overflow: hidden !important;
    background: url('../images/bkkk.jpg');
    margin-top: -1px !important;
}

.imgcirc {
    width: 25%;
    border-radius: 100px;
    
}