p, h1, h2, h3, h4, h5, h6, ul, li, button {
    font-family: Helvetica, sans-serif;
    color: white;
}

body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: Helvetica, sans-serif;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body, html {
    height: 100%;
}

.parent {
    position: relative;
}

.section {
    overflow:auto;
    height: auto;
    letter-spacing: 1px;
}

.parallax {
    background-image: url('../img/background.jpeg');
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-middle {
    display: flex;
    align-items: center;
}

/* More About Me Button */
.buttonmore {
    display: inline-block;
    border-radius: 4px;
    background-color: #222222;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 13px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
.buttonmore span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonmore span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonmore:hover span {
    padding-right: 25px;
    background-color: #222222;
}

.buttonmore:hover span:after {
    opacity: 1;
    right: 0;
}

a:visited { 
    text-decoration: none; 
    color: rgb(255, 255, 255); 
}

img {
    vertical-align: middle;
}

/* Profile picture */
.rounded-img {
    width: 300px;
    border-radius: 200px;
    margin: 0 50px 0 0;
}

/* Map */
#maparea { 
    height: 500px; 
    width: 80%;
    margin: auto;
}

/* Contact icons */
.contact {
    margin: auto;
    text-align: center;
    padding: 25px 25px 25px 25px;
}

.contactPic {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 40px; 
}

/* Menu Sidebar */
#sidebar-icon {
    position: fixed;
    z-index: 1000;
    cursor:pointer;
    color:white;
    font-size: 50px;
    padding: 5px 5px 10px 5px;
    margin: 20px;
}

.sidenav {
    height: auto;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
    border-radius: 0 5px 5px 5px;
}

.sidenav a {
    padding: 8px 23px 20px 23px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
  
.row {
    display: flex;
}
.col {
    flex: 1;
}  

/* Hobbies */
.hobbies {
    height: 250px;
    opacity: 0.4;
    filter: sepia(100%) saturate(300%) brightness(60%) hue-rotate(150deg);
}

.hobbies:hover {
    opacity: 1;
    filter: none;
}

.img-hover-zoom {
    height: 250px; 
    width: 390px;
    overflow: hidden; 
}

.img-hover-zoom img {
    transition: transform .5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.5);
}


/* Modal Image for hobbies */
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
  
