<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Hobbies</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
</head>
<body>

    <!-- Menu bar -->
    <section class="menuHobbiesMap">
        <nav style="margin:0px; border-radius: 0px;" class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a style="font-size:23px;padding-left:40px;" class="navbar-brand">{{name}}</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="spaceWords nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/">About</a></li>
                        <li><a href="/">Experience</a></li>
                        <li><a href="/">Education</a></li>
                        <li><a href="{{ url_for('views.hobbies') }}">Hobbies</a></li>
                        <li><a href="{{ url_for('views.map') }}">Map</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    
    <!-- Hobbies -->
    <br><br>
    <div class="slideshow-container" style="padding:0;background-color:transparent;">

    <div class="container" style="padding:0;background-color:transparent;">

        <div class="mySlides fade container">
            <img class="hobbies" src="../static/img/gym.jpg">
            <div class="overlay">
                <h3>Hobby 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    
        <div class="mySlides fade container">
            <img class="hobbies" src="../static/img/videogames.jpeg">
            <div class="overlay">
                <h3>Hobby 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>

        <div class="mySlides fade container">
            <img class="hobbies" src="../static/img/garden.jpeg">
            <div class="overlay">
                <h3>Hobby 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    
        <!-- Next/prev buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    </div>
    
    <!-- Dots -->
    <div class="dot-container" style="background-color:transparent;">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <script src="../static/scripts/slides.js"></script>
</body>
</html>
