<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{{name}}</title> 
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#home">Home</a>
        <a href="#about">About Me</a>
        <a href="#education">Education</a>
        <a href="#experience">Experience</a>
        <a href="#map">Places I've Visited</a>
        <a href="{{ url_for('app.hobbies') }}">Hobbies</a>
    </div>

    <div id="hobbies" class="parallax" style="height: 100%">
        <span id="sidebar-icon" onclick="openNav()">&#9776;</span>

        <!--centered purple section but on top of background image. thus u can still see sides of background image. and round the corners-->
        <!-- Then slideshow for hobbies-->
    </div>

</body>
</html>