<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{{name}}</title> 
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{ url_for('views.index') }}">Home</a>
        <a href="{{ url_for('views.index') }}#about">About Me</a>
        <a href="{{ url_for('views.index') }}#education">Education</a>
        <a href="{{ url_for('views.index') }}#experience">Experience</a>
        <a href="{{ url_for('views.index') }}#map">Places I've Visited</a>
        <a href="#hobbies">Hobbies</a>
    </div>

    <div id="hobbies" class="parallax" style="height:100%">
        <span id="sidebar-icon" onclick="openNav()">&#9776;</span>
        <script src="../static/scripts/sidebar.js"></script>

        <div class="section centered" style="width:60%; margin-top:50px; border: 1px solid #2E0249; border-radius: 5px;">
            <h1>My Hobbies</h1>

            <div class="slideshow-container" style="padding:0px;background-color:transparent;text-align:left;">        
                {% for i in range(hobbies|length) %}
                <div class="mySlides containerhobbies">
                    <img class="hobbies" src="../static/img/{{ hobbies[i]['image'] }}">
                    <div class="overlay">
                        <h3>{{hobbies[i]["hobby"]}}</h3>
                    </div>
                </div>
                {% endfor %}
            
                <!-- Next/prev buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            
            <!-- Dots -->
            <div class="dot-container" style="background-color:transparent;">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
            </div>
        </div>
    </div>

    <div class="parallax" style="height:10%">


    <script src="../static/scripts/slides.js"></script>

</body>
</html>
