<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Home</title>
</head>
<body>
    <div id="homeimg">
        <div style="margin-top:130px;" class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center inner">
                    <img class="imgcirc" src="images/yo.jpg" />
                    <h1 style="color:black; font-family: 'Alatsi';" class="animated fadeInDown">Carlos Seda</h1>
                    <p style="color:#272727; font-size: 17px;font-family: 'Alatsi';" class="animated fadeInUp delay-05s">Computer Science Student at Monterrey Institute of Technology</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div id="container2">
                        <button class="learn-more"><a style="font-family: 'Alatsi';color:black;text-decoration: none; " href="&#109;&#097;&#105;&#108;&#116;&#111;:carlosseda123&#064gmail.com" class="learn-more-btn">Send mail</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>