<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Places I've Visited</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
</head>
<body>
    <h1>Cool Places I've Been To</h1>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>

    <div id="map"></div>

    <script>
        var map = L.map('map').setView([51.505, -0.09], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap'
        }).addTo(map);

        var marker = L.marker([40.71277, -74.00597]).addTo(map);
        marker.bindPopup("<b>New York, NY</b><br>Came here for university");

        var marker = L.marker([34.052235, -118.243683]).addTo(map);
        marker.bindPopup("<b>LA, California</b><br>Went to Venice Beach and Hollywood last summer");

        var marker = L.marker([-0.2201641, -78.5123274]).addTo(map);
        marker.bindPopup("<b>Quito, Ecuador</b><br>Stood on the equator!");

        var marker = L.marker([37.5666791, 126.9782914]).addTo(map);
        marker.bindPopup("<b>Seoul, South Korea</b><br>Saw BTS at a concert!");

        var marker = L.marker([-6.1791181, 35.7468174]).addTo(map);
        marker.bindPopup("<b>Dodoma, Tanzania</b><br>Visited one of my friends");

        var marker = L.marker([-33.8698439, 151.2082848]).addTo(map);
        marker.bindPopup("<b>Sydney, Australia</b><br>Saw the cutest kangaroos and koalas here");

        map.setView([0, 0], 1.5);


    </script>

</body>
</html>