<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Places I've Visited</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
</head>
<body>

       <!-- Menu bar -->
       <section class="menuHobbiesMap">
        <nav style="margin:0px; border-radius: 0px;" class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a style="font-size:23px;padding-left:40px;" class="navbar-brand">{{name}}</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="spaceWords nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/">About</a></li>
                        <li><a href="/">Experience</a></li>
                        <li><a href="/">Education</a></li>
                        <li><a href="{{ url_for('views.hobbies') }}">Hobbies</a></li>
                        <li><a href="{{ url_for('views.map') }}">Map</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <h2 style="margin:20px; margin-top: 70px; text-align:center; font-size:35px !important; font-weight:bold;">Cool Places I've Been To</h2>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>

    <div id="map"></div>

    <script>
        var map = L.map('map').setView([51.505, -0.09], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap'
        }).addTo(map);

        var marker = L.marker([40.71277, -74.00597]).addTo(map);
        marker.bindPopup("<h5 style='font-weight:bold'>New York, NY</h5><h6>Came here for university</h6>");

        var marker = L.marker([34.052235, -118.243683]).addTo(map);
        marker.bindPopup("<h5 style='font-weight:bold'>LA, California</h5><h6>Went to Venice Beach and Hollywood last summer</h6>");

        var marker = L.marker([-0.2201641, -78.5123274]).addTo(map);
        marker.bindPopup("<h5 style='font-weight:bold'>Quito, Ecuador</h5><h6>Stood on the equator!</h6>");

        var marker = L.marker([37.5666791, 126.9782914]).addTo(map);
        marker.bindPopup("<h5 style='font-weight:bold'>Seoul, South Korea</h5><h6>Saw BTS at a concert!</h6>");

        var marker = L.marker([-6.1791181, 35.7468174]).addTo(map);
        marker.bindPopup("<h5 style='font-weight:bold'>Dodoma, Tanzania</h5><h6>Visited one of my friends</h6>");

        var marker = L.marker([-33.8698439, 151.2082848]).addTo(map);
        marker.bindPopup("<h5 style='font-weight:bold'>Sydney, Australia</h5><h6>Saw the cutest kangaroos and koalas here</h6>");

        map.setView([0, 0], 1.5);


    </script>

</body>
</html>