<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Hobbies</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
</head>
<body>

    <!-- Menu bar -->
    <section class="menuHobbiesMap">
        <nav style="margin:0px; border-radius: 0px;" class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a style="font-size:23px;padding-left:40px;" class="navbar-brand">{{name}}</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="spaceWords nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/">About</a></li>
                        <li><a href="/">Education</a></li>
                        <li><a href="/">Experience</a></li>
                        <li><a href="{{ url_for('app.hobbies') }}">Hobbies</a></li>
                        <li><a href="{{ url_for('app.map') }}">Map</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    
    <!-- Hobbies -->
    <div class="slideshow-container" style="padding:0px;background-color:transparent;">
        <h2 style="margin:20px; margin-top: 70px; text-align:center; font-size:35px !important; font-weight:bold;">Hobbies</h2>

        {% for i in range(images|length) %}
        <div class="mySlides fade containerhobbies">
            <img class="hobbies" src="../static/img/{{ images[i] }}">
            <div class="overlay">
                <h3>{{hobbies[i]}}</h3>
                <p>{{descriptions[i]}}</p>
            </div>
        </div>
        {% endfor %}
    
        <!-- Next/prev buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    
    <!-- Dots -->
    <div class="dot-container" style="background-color:transparent;">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <script src="../static/scripts/slides.js"></script>
</body>
</html>
